In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import statsmodels.api as sm
from statsmodels.api import OLS

from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

from pandas.plotting import scatter_matrix

import seaborn as sns

In [2]:
production='final.xlsx'
data = pd.read_excel(production)

In [3]:
y = np.array(data['Production'])
X = data.drop(['Indian State','Production','Year'], axis=1)
X=np.array(X)

In [4]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [5]:
print('Enter the temperature in Celsius')
temp=input()

Enter the temperature in Celsius
25.5

In [6]:
print('Enter the rainfall in mm')
rain=input()

Enter the rainfall in mm
2004

In [7]:
rain=[rain]
temp=[temp]
import csv

header = ['Rain']

with open('pred.csv', 'w', encoding='UTF8') as f:
    writer = csv.writer(f)
    
    writer.writerow(header)
    writer.writerow(rain)

df = pd.read_csv("pred.csv")
df["Temp"] = temp
df.to_csv("pred.csv", index=False)

In [8]:
data= pd.read_csv("pred.csv")
data

   Rain  Temp
0  2004  25.5

In [9]:
X=data
y_pred=regr.predict(X)
y_out=y_pred[0]
y_min=y_out-0.27*y_out
y_min="{:.2f}".format(y_min)
y_max=y_out+0.27*y_out
y_max="{:.2f}".format(y_max)
y_min
print('The predicted value for the Sugarcane production is in the range of  ' + str(y_min)+' and '+ str(y_max)+' thousand tonnes.')

The predicted value for the Sugarcane production is in the range of  10645.38 and 18520.04 thousand tonnes.